Abdysamat Mamutov <amamutov@optdyn.com> Abdysamat Mamutov <amamutov@optimal-dynamics.com>

Ermek Abyshev <eabyshev@optdyn.com> Ermek Abyshev <eabyshev@optimal-dynamics.com>

Manas Atabaev <matabaev@optdyn.com> Manas Atabaev <matabaev@optimal-dynamics.com>

Igor Kim <ikim@optdyn.com> IK <ikim@optimal-dynamics.com>
Igor Kim <ikim@optdyn.com> ikimsubutai <40651899+ikimsubutai@users.noreply.github.com>
Igor Kim <ikim@optdyn.com> kim <ikim@optimal-dynamics.com>

Nurdin Osorov <nosorov@optdyn.com> Nurdin <spaikerkg@yahoo.com>

Sydyk Akhmataliev <sakhmataliev@optdyn.com> Sydyk Akhmataliev <sahmataliev@gmail.com>
Sydyk Akhmataliev <sakhmataliev@optdyn.com> Sydyk Akhmataliev <sakhmataliev@critical-factor.com>
Sydyk Akhmataliev <sakhmataliev@optdyn.com> absidish <sahmataliev@gmail.com>
Sydyk Akhmataliev <sakhmataliev@optdyn.com> sydyk <sahmataliev@gmail.com>

Talas Joldoshbekov <tjoldoshbekov@optdyn.com> Talas <tjoldoshbekov@critical-factor.com>
Talas Joldoshbekov <tjoldoshbekov@optdyn.com> Talas <tjoldoshbekov@safehaus.org>
Talas Joldoshbekov <tjoldoshbekov@optdyn.com> Talas Joldoshbekov <tjoldoshbekov@critical-factor.com>
Talas Joldoshbekov <tjoldoshbekov@optdyn.com> Talas Zholdoshbekov <tjoldoshbekov@critical-factor.com>
Talas Joldoshbekov <tjoldoshbekov@optdyn.com> TalasZh <stf_21@mail.ru>
Talas Joldoshbekov <tjoldoshbekov@optdyn.com> TalasZh <tjoldoshbekov@optimal-dynamics.com>
Talas Joldoshbekov <tjoldoshbekov@optdyn.com> ape-craft <tjoldoshbekov@critical-factor.com>
Talas Joldoshbekov <tjoldoshbekov@optdyn.com> ape-crat <stf_21@mail.ru>
Talas Joldoshbekov <tjoldoshbekov@optdyn.com> Talas Zh <versatile.stf@gmail.com>
Talas Joldoshbekov <tjoldoshbekov@optdyn.com> Talas Zholdoshbekov <stf_21@mail.ru>
Talas Joldoshbekov <tjoldoshbekov@optdyn.com> Talas Zholdoshbekov <versatile.stf@gmail.com>
Talas Joldoshbekov <tjoldoshbekov@optdyn.com> TalasZh <stf_21@mail.ru>
Talas Joldoshbekov <tjoldoshbekov@optdyn.com> TalasZh <tjoldoshbekov@optimal-dynamics.com>
Talas Joldoshbekov <tjoldoshbekov@optdyn.com> talaszh <versatile.stf@gmail.com>

Zubaidullo Niimatullo <zniimatullo@optdyn.com> Zubaidullo <zubaidullo.n.uulu@gmail.com>
Zubaidullo Niimatullo <zniimatullo@optdyn.com> Zubaidullo <zubaidullo@github.com>
Zubaidullo Niimatullo <zniimatullo@optdyn.com> Zubaidullo Niimatullo uulu <zniimatullo@critical-factor.com>
Zubaidullo Niimatullo <zniimatullo@optdyn.com> ZNU <kgtube.com@gmail.com>
