<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Builder Version</key>
	<string>11601.4.4</string>
	<key>CFBundleDisplayName</key>
	<string>Subutai Social E2E Plugin</string>
	<key>CFBundleIdentifier</key>
	<string>io.subutai.tooling.e2eplugin.sfx</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>1.2.3-rc8</string>
	<key>CFBundleVersion</key>
	<string>1.2.3.8</string>
	<key>Chrome</key>
	<dict>
		<key>Global Page</key>
		<string>global.html</string>
		<key>Toolbar Items</key>
		<array>
			<dict>
				<key>Identifier</key>
				<string>e2e-toolbar</string>
				<key>Image</key>
				<string>common/img/icons/ss-icon48x48.png</string>
				<key>Include By Default</key>
				<true/>
				<key>Label</key>
				<string>Subutai E2E Plugin</string>
				<key>Tool Tip</key>
				<string>Subutai E2E Plugin</string>
			</dict>
		</array>
	</dict>
	<key>Companion Bundle Identifier</key>
	<array>
		<string>Tooling E2E plugin</string>
	</array>
	<key>Description</key>
	<string>Secure your identity with end-to-end encryption, and still manage your cloud with ease.</string>
	<key>DeveloperIdentifier</key>
	<string>0000000000</string>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Permissions</key>
	<dict>
		<key>Website Access</key>
		<dict>
			<key>Include Secure Pages</key>
			<true/>
			<key>Level</key>
			<string>All</string>
		</dict>
	</dict>
	<key>Website</key>
	<string>https://subutai.io</string>
</dict>
</plist>
