<div id="keyDialog">
  <form class="well form">
    <div class="form-group">
      <label for="gwKeySelect" data-l10n-id="sign_gw_dialog_header"></label>
      <select id="gwKeySelect" class="form-control"></select>
    </div>

    <div class="form-group">
    <label class="b-form-label">To sign with your key, provide the password.</label>
    <input type="password" class="b-form-input b-form-input_full" id="password">
    </div>

    <div class="form-group" style="display: none" id="incorrectPassword">
      <p style="color:red;">Incorrect password please try again</p>
    </div>
    <div class="form-group">
      <button id="okBtn" class="btn btn-sm btn-primary" data-l10n-id="form_ok"></button>
      <button id="cancelBtn" class="btn btn-sm btn-default" data-l10n-id="form_cancel"></button>
    </div>
  </form>
</div>
